<div class="container">
  <app-form *ngIf="isVisibleFormFirst" (toggle)="firstData($event)"></app-form>
  <app-second-form *ngIf="isVisibleFormSecond" (toggle)="secondData($event)"></app-second-form>
  <div class="table" *ngIf="isVisibleTable">
    <h2>Тип задачи: {{typeTask}}</h2>
    <table>
      <tr>
        <th class="space"></th>
        <th *ngFor="let element of arrayB; index as idx">
          <h2>B{{idx + 1}}</h2>
          <p>{{element}}</p>
        </th>
      </tr>
      <tr *ngFor="let element of matrix; index as idx">
        <td>
          <h2>A{{idx + 1}}</h2>
          <p>{{arrayA[idx]}}</p>
        </td>
        <td *ngFor="let elements of element">
          <p>{{elements}}</p>
        </td>
      </tr>
    </table>
    <div class="button-form">
      <button (click)="northwestCornerMethod()" [disabled]="typeTask === 'открытая' || hideButton" type="button">Получить опорный план</button>
      <button (click)="checkTruth()" [disabled]="typeTask === 'открытая' || !hideButton || showButton" type="button">Проверить опорный план</button>
      <button (click)="getAnswer()" *ngIf="showButton" type="button">Решить задачу</button>
    </div>
    <h2 *ngIf="visibleTotal" class="total">Итоговая стоимость перевозки: {{total}}</h2>
  </div>
</div>
